---
const { title } = Astro.props;
import "bootstrap/dist/css/bootstrap.min.css";
---

<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta name="robots" content="noindex">

		<title>{title}</title>
	</head>
	
	<body class="d-flex flex-column h-100">
		<slot />
	</body>

	{/*
	<footer class="footer mt-auto py-1 px-2 bg-light">
        <div class="container">
            <a href="/" style="text-decoration: none;"><span class="text-muted">Info</span></a>
        </div>
    </footer>
	*/}

</html>
<style is:global>

	@media (min-width: 991.98px) {
		.container {
			max-width: 720px !important;
		}
	}

	textarea, textarea:focus-visible{
    background-color: white;
    color: #212529;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
}

</style>
