#password-wall {
    display: none;
}

body.password-wall-active {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#password-wall.password-wall-active {
    display: block;
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: 100;
    overflow-y: scroll;
}

#link-list-header {
    border-width: 0 0 3px;
}

@media (min-width: 991.98px) {
    .container {
        max-width: 720px;
    }

}

@media (max-width: 575.98px) {
    h2#bunch-title {
        text-align: center;
        white-space: normal;
    }
}
@media (min-width: 576px) {
    h2#bunch-title {
        text-align: start;
    }
}

input.new {
    border: none;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

textarea, textarea:focus-visible{
    background-color: white;
    color: #212529;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
}

input.new:focus-visible{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    outline: none;
}

a {
    cursor: pointer;
}