#password-wall {
    display: none;
}

body.password-wall-active {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#password-wall.password-wall-active {
    display: block;
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: 100;
    overflow-y: scroll;
}

#link-list-header {
    border-width: 0 0 3px;
}

@media (min-width: 991.98px) {
    .container {
        max-width: 720px;
    }

}

@media (max-width: 575.98px) {
    h2#bunch-title {
        text-align: center;
        white-space: normal;
    }
    div.card.container {
        border-right: 0cm;
        border-left: 0cm;
        border-radius: 0;
    }
}
@media (min-width: 576px) {
    h2#bunch-title {
        text-align: start;
    }
}

input.new {
    border: none;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

textarea, textarea:focus-visible{
    background-color: white;
    color: #212529;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
}

input.new:focus-visible{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    outline: none;
}

li.new-entry path{
    stroke: #212529;
}

li.new-entry svg{
    transition: transform 0.2s;
}

li.new-entry svg:hover{
    transform: rotate(45deg);
}

div.list-item-container {
    padding-left: 0;
    padding-right: 0;
}

div.list-item-container input.form-text{
    border-width: 0;
    outline: none;
    margin-top: 0;
    font-size: 1rem;
}

div.list-item-container path{
    stroke-width: 1;
}

div.list-item-container svg{
    margin-right: 0.5rem;
}

div.new-bunch-options input{
    margin-top: 0;
    margin-right: 0.25rem;
}

#new-bunch-password{
    min-width: 185px;
}



a {
    cursor: pointer;
}